@CHARSET "UTF-8";
/* CSS Document */

/* RESET and CLEAR
 *
 * From http://www.apple.com/
 */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; table-layout:fixed; word-wrap:break-word; width: 100%; }

.clear { clear: both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }

/* Layout */
body {
	width: 90%;
	margin: 0 auto;
	font-size: 1em;
	font-family: Lato, sans-serif;
	color: #444;
}

/* Page title */
header {
	color: #444;
	font-size: 2.5em;
	font-weight: bold;
}

/* Copyright */
footer {
	margin: 20px 0;
	padding: 5px 0;
	font-size: .8em;
	color: #666;
	text-align: right;
}

/* Loading hint */
#loading {
	background: #fe7000;
	color: #FFF;
	position: fixed;
	top: -15px;
	left: 50%;
	padding: 30px 25px 15px 25px;
	margin-left: -10%;
	width: 10%;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	border-radius: 10px;
	display: none;
}

/* Information bar (date and weather) */
#info {
	margin: 10px 0;
	padding: 10px;
	min-height: 1em;
	background: #91c83e;
	color: #FFF;
	border-radius: 5px;
}
#weather { float: right; }
#date { float: left; }
/* Browser difference */
#info.chrome { background: #99b500; }
#info.safari {}
#info.firefox { background: #338d2c; }
#info.opera { background: #43b7bb; }
#info.msie { background: #a3620a; }

/* Input Field */
#content {
	width: 100%-30px;
	margin: 10px auto;
	padding: 15px;
	background: #67cdf8;
	border-radius: 10px;
}
/* Input Field - Textbox */
#content textarea {
	width: 98%;
	height: 50px;
	border: 0;
	border-radius: 10px;
	font-size: 1.2em;
	font-family: Lato, sans-serif;
	padding: 1%;
	outline: none;
	resize: none;
	overflow: auto;
}
/* Input Field - Button */
#content input[type="submit"] {
	padding: 5px 15px;
	margin-top: 10px;
	margin-right: 15px;
	background: #FFF;
	border: 0;
	border-radius: 10px;
	font-size: .9em;
	font-weight: 900;
	cursor: pointer;
}
/* Input Field - Button Effect */
#content input[type="submit"].hover { background: #ffbd01; }

/* User information */
#username { font-size: 1.25em; }
#userAction {
	display: inline-block;
	font-size: .9em;
	margin-left: 10px;
}
#userAction a { color: #555; text-decoration: none; }
#userAction a:hover { color: #222; text-decoration: underline; }

/* Message style */
.post {
	border-bottom: 1px solid #333;
	padding: 15px 0;
	margin: 10px 0;
}
.postBody { margin: 30px 0 20px 0; font-size: 2em; font-weight: 300; }
.postAuthor, .postTime, .postDelete { padding: 2px 10px; border-radius: 2px; margin-right: 5px; }
.postAuthor { background: #fe7000; color: #FFF; }
.postTime { background: #ffbd01; color: #444; }
.postDelete { background: #666; color: #FFF; cursor: pointer; }
.postDelete.hover { background: #fd0126; color: #FFF; }